SECRET_KEY=

NAME=database_name
USER=database_user
PASSWORD=database_password
HOST=database_host
PORT=database_port

STRIPE_API_KEY=your_stripe_API_key

CELERY_BROKER_URL=your_celery_broker_url
CELERY_RESULT_BACKEND=your_celery_result_backend

EMAIL_HOST=email_host
EMAIL_PORT=email_port
EMAIL_HOST_USER=your_email
YANDEX_EMAIL_HOST_PASSWORD=yandex_password

DATABASE_URL=your_database_url